
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    .flex-start {
        @apply flex items-start justify-center;
    }
}

@layer components {

    .custom-btn {
        @apply bg-primary rounded-full p-3 w-full flex flex-row justify-center;
    }

    .label {
        @apply text-base text-start w-full font-rubik-medium text-gray-500 pl-2;
    }

    .input {
        @apply rounded-lg p-3 w-full text-base font-rubik-semibold text-dark-100 border-b leading-5;
    }

    .menu-card {
        @apply relative py-9 px-3.5 pt-24 flex items-center justify-end bg-white shadow-md shadow-black/10 rounded-3xl;
    }

    .searchbar {
        @apply relative flex flex-row items-center w-full bg-white shadow-md shadow-black/10 rounded-2xl font-rubik-medium text-dark-100;
    }

    .filter {
        @apply px-5 py-2.5 rounded-full mr-2 shadow-sm shadow-black/10 flex-row items-center;
    }

    .base-bold {
        @apply text-lg font-rubik-bold !important;
    }

    .base-semibold {
        @apply text-lg font-rubik-semibold;
    }

    .base-regular {
        @apply text-lg font-rubik;
    }

    .paragraph-bold {
        @apply text-base font-rubik-bold;
    }

    .paragraph-semibold {
        @apply text-base font-rubik-semibold;
    }

    .paragraph-medium {
        @apply text-base font-rubik-medium;
    }

    .paragraph-regular {
        @apply text-base font-rubik;
    }

    .body-medium {
        @apply text-sm font-rubik-medium;
    }

    .body-regular {
        @apply text-sm font-rubik;
    }

    .small-bold{
        @apply text-sm font-rubik-bold
    }

    .tab-icon {
        @apply flex min-w-20 items-center justify-center min-h-full gap-1 mt-12;
    }
}